<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" data-href="/" />
    <title>@ViewData["Title"] - WebApplicationTestMvc</title>
    <!--
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
    <% } %>
        -->
</head>

<body>
    <div id="root"></div>
    @RenderBody()
   </body>
</html>
