/*--- variables--*/
:root {
    --default-border: #000;
    --default-font-color: #000;

    --header-bck-color: #000;
    --header-font-color: #fff;

    --nav-bck-color: #fff;
    --nav-font-color: #000;
    --nav-hover-bck-color: #efefef;

    /* font size */
    --default-font-size: 1rem;
    --title-font-size: 1.15rem;
    --bigtitle-font-size: 1.4rem;
    --secondary-font-size: 0.8rem;

    /* responsive limits (attention, wont work in variables!!) 
    -> these variables can therefore not be used in media queries and are mainly just to look up the limits!!
    -> in the future env might be used to centralize these limits 
    */
    --mobile-limit-max: 640px;
    --tablet-limit-min: 641px;
    --tablet-limit-max: 992px;
    --desktop-limit-min: 993px;
}

/*--- general global settings--*/
html {
    overflow-x: hidden;
    font-size: 16px;
}
body {
    font-family: sans-serif, Verdana;
    color: var(--default-font-color);
    line-height: 1.5;
    font-size: var(--default-font-size, 16px);
}

input[type='text'] {
    font-size: 1rem;
}
select {
    font-size: 1rem;
}

h1 {
    font-size: var(--bigtitle-font-size, 2rem);
}
h2 {
    font-size: var(--title-font-size, 2rem);
}

hr {
    border: 0;
    border-top: 1px solid #eee;
}

/*--- global settings--*/
.mainContent {
    margin-top: 43px;
    transition: margin-left 0.4s;
}

/* Mobile only (media query would not really be necessary as css would be overwritten by later css, but we leave it here for clarity */
@media (max-width: 640px) {
    .mobileOnly {
        visibility: visible;
    }
    .tabletAndSmaller {
        visibility: collapse;
    }
    .tabletOnly {
        visibility: collapse;
    }
    .tabletAndBigger {
        visibility: collapse;
    }
    .desktopOnly {
        visibility: collapse;
    }
}

/* Mobile and Tablet */
@media (max-width: 992px) {
    .tabletAndSmaller {
        visibility: visible;
    }

    /* specific */
    .mainContent {
        margin-left: 0;
        margin-right: 0;
    }
}

/* Tablet */
@media (min-width: 641px) and (max-width: 992px) {
    .mobileOnly {
        visibility: collapse;
    }
    .tabletOnly {
        visibility: visible;
    }
}

/* Tablet and desktop*/
@media (min-width: 641px) {
    .tabletAndBigger {
        visibility: visible;
    }
}

/* Desktop*/
@media (min-width: 993px) {
    .mobileOnly {
        visibility: collapse;
    }
    .tabletAndSmaller {
        visibility: collapse;
    }
    .tabletOnly {
        visibility: collapse;
    }
    .desktopOnly {
        visibility: visible;
    }

    /* specific */
    .mainContent {
        margin-left: 300px;
    }
}

@media (max-width: 992px) {
    .mainContent {
        margin-left: 0;
        margin-right: 0;
    }
}

/* ######### START TESTS ######### */
hr6 {
    background-color: rgb(173, 280, 182);
}

.test {
    color: red;
    background-color: whitesmoke;
}

@media (max-width: 640px) {
    body {
        background-color: rgb(255, 254, 232);
    }
}

@media (min-width: 641px) and (max-width: 992px) {
    body {
        background-color: rgb(173, 230, 182);
    }
}
@media (min-width: 993px) {
    body {
        background-color: rgb(206, 218, 255);
    }
}

/* ######### END TESTS ######### */
