.sideNav {
    z-index: 3;
    width: 300px;

    height: 100%;
    position: fixed !important;
    z-index: 1;
    overflow: auto;

    color: var(--default-font-color, black);
    background-color: var(--nav-bck-color, #fff);
}

.sideNav:hover {
    color: var(--default-font-color, black);
    background-color: var(--nav-bck-color, #fff);
}

.sideNav ul {
    margin: 0;
    padding: 0px;
    width: 100%;
}
.sideNav li {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

/* media queries  (in the future, use env queries once browsers support them. example: (min-width: var(--desktop-limit-min, 993px))...*/
@media (min-width: 993px) {
    .sideNav {
        display: block !important;
    }
}

@media (max-width: 992px) {
    .sideNav {
        display: none;
    }
}

.animateFromLeft {
    position: relative;
    animation: animateleft 0.4s;
}
@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

.navArea {
    padding: 0;
}

.navArea h2 {
    padding: 0;
    margin: 0;
    font-size: var(--title-font-size, 1.2rem);
}

.navArea li:hover {
    background-color: var(--nav-hover-bck-color, #dbdbdb);
}

.navActive {
    font-weight: bold;
}
