.topBar {
    width: 100%;
    overflow: hidden;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;

    font-size: var(--title-font-size, 1.05rem);
    color: var(--header-font-color, #fff);
    background-color: var(--header-bck-color, #000);
}
