.main-background,
.main-background:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

/*  basic stuff */
html,
body {
  font-family: sans-serif, Verdana;
  font-size: 16px;
  line-height: 1.5;
}
html {
  overflow-x: hidden;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

/* 
 ## START Hamburger ##
https://www.mediaevent.de/tutorial/css-transform.html */

.hambButton {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;

  white-space: normal;
  background-color: transparent !important;
}

.hambButton:hover {
  background-color: transparent !important;
}

label.hamburg {
  position: relative;
  display: block;
  width: 45px;
  height: 30px; /* orig 50 */
  margin-right: auto;
  margin-left: auto;
  border-radius: 2px;
  background: #555;
}

input#hamburg {
  display: none;
}

.hambLine {
  position: absolute;
  display: block;
  left: 5px;
  height: 2px;
  width: 35px;
  border-radius: 2px;
  background: #fff;
  transition: 0.5s;
  transform-origin: center;
}

.hambLine:nth-child(1) {
  top: 7px;
}
.hambLine:nth-child(2) {
  top: 14px;
}
.hambLine:nth-child(3) {
  top: 21px;
}

#hamburg:checked + .hamburg .hambLine:nth-child(1) {
  transform: translateY(7px) rotate(-45deg);
}

#hamburg:checked + .hamburg .hambLine:nth-child(2) {
  opacity: 0;
}

#hamburg:checked + .hamburg .hambLine:nth-child(3) {
  transform: translateY(-7px) rotate(45deg);
}

/* 
 ## END Hamburger ##
https://www.mediaevent.de/tutorial/css-transform.html */

/* top */
.topBar {
  width: 100%;
  overflow: hidden;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  z-index: 4;

  font-size: 18px !important;
  color: #fff !important;
  background-color: #000 !important;
}

.account {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;

  float: right;
}

/* start sidebar */

#sideNav {
  z-index: 3;
  width: 300px;

  height: 100%;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;

  color: #000 !important;
  background-color: #fff !important;
}

#sideNav:hover {
  color: #000 !important;
  background-color: #fff !important;
}

@media (min-width: 993px) {
  #sideNav {
    display: block !important;
  }
}

@media (max-width: 992px) {
  #sideNav {
    display: none;
  }
}
/* END sidebar */

/* Start main content */

@media (max-width: 992px) {
  #mainContent {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 993px) {
  #mainContent {
    margin-left: 300px;
  }
}

#mainContent {
  margin-top: 43px;

  transition: margin-left 0.4s;
}
/* End main content */

.animateFromLeft {
  position: relative;
  animation: animateleft 0.4s;
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@media (min-width: 993px) {
  .hideLarge {
    display: none !important;
  }
}
