<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  
	<!--
	Requires the URL Rewrite extension: 
		https://www.iis.net/downloads/microsoft/url-rewrite
	-->
	
  
	<!--
	inspired by https://www.mattburkedev.com/iis-rewrite-rule-for-single-page-apps/
	-->
  <rewrite>
    <rules>
        <rule name="SPA Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(static)" negate="true" />
        </conditions>
        <action type="Rewrite" url="{webapp}index.html" />
        </rule>
    </rules>
</rewrite>


  </system.webServer>
</configuration>
